#blinking-cursor {
    vertical-align: baseline;
    font-size: 130%;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
  }
  
  @keyframes "blink" {
    from, to {
        opacity: 0;
        filter: alpha(opacity=0); /* For IE8 and earlier */
    }
    50% {
        opacity: 1;
        filter: alpha(opacity=100); /* For IE8 and earlier */
    }
  }
  
  @-moz-keyframes blink {
    from, to {
        opacity: 0;
        filter: alpha(opacity=0); /* For IE8 and earlier */
    }
    50% {
        opacity: 1;
        filter: alpha(opacity=100); /* For IE8 and earlier */
    }
  }
  
  @-webkit-keyframes "blink" {
    from, to {
        opacity: 0;
        filter: alpha(opacity=0); /* For IE8 and earlier */
    }
    50% {
        opacity: 1;
        filter: alpha(opacity=100); /* For IE8 and earlier */
    }
  }
  
  @-ms-keyframes "blink" {
    from, to {
        opacity: 0;
        filter: alpha(opacity=0); /* For IE8 and earlier */
    }
    50% {
        opacity: 1;
        filter: alpha(opacity=100); /* For IE8 and earlier */
    }
  }
  
  @-o-keyframes "blink" {
    from, to {
        opacity: 0;
        filter: alpha(opacity=0); /* For IE8 and earlier */
    }
    50% {
        opacity: 1;
        filter: alpha(opacity=100); /* For IE8 and earlier */
    }
  }