<section id="fh5co-intro">
    <div class="container">

        <div class="row equal mx-auto">
            {{ range .Site.Params.intro.item }}
            <!-- <div class="px-1"> -->
            <div class="fh5co-block to-animate" style="background-image: url(/images/{{ .img }});">
                <div class="overlay-darker"></div>
                <div class="overlay"></div>
                <div class="fh5co-text mx-4">

                    <a href="#{{ .url }}"  class="js-scroll-trigger nav-link">
                        <i style="color: {{ .color }}" class="fh5co-intro-icon {{ .icon }}"></i>
                    </a>
                    <h2>{{ .title }}</h2>
                    <!-- <p>{{ .description }}</p> -->
                    <!-- <p><a href="{{ .url }}" class="btn btn-primary">{{ .button}}</a></p> -->
                </div>
            </div>
            <!-- </div> -->
            {{ end }}
        </div>

    </div>
</section>