<section id="fh5co-services" data-section="services" style="background-image: url(/images/{{ .Site.Params.services.background }}); background-repeat: no-repeat; background-size: cover; background-position: center;">
    <div class="container">
        <div class="row">
            <div class="text-center col-md-12 section-heading">
                <h2 class="to-animate">{{ with .Site.Params.services.title }}{{ . | markdownify }}{{ end }}</h2>
                <div class="row">
                    <div class="col-md-12 subtext to-animate">
                        <h3 class="text-center">{{ with .Site.Params.services.description }}{{ . | markdownify }}{{ end }}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {{ range .Site.Params.services.item }}
          
                <div  id="{{ .name }}" data-section="{{ .name }}" class="col-md-12 fh5co-service text-justify to-animate">
                    {{ range .icons }}
                    <i class="icon to-animate-2 {{ . | markdownify }}"></i>
                    {{ end }}


                    <h3>{{ .title | markdownify }}</h3>
                    <p>{{ .description | markdownify }}</p>
                </div>
          

            <div class="clearfix visible-sm-block"></div>
            {{ end }}
        </div>
    </div>
</section>