.fh5co-person {
    min-height: 450px;
    margin-bottom: 100px;
}

#fh5co-header .navbar-brand div {
    background: url("/images/blacksalt_salt@0.5x.png") no-repeat;
    background-position: top -47px left;
    width: 40px;
    height: 47px;
    max-height: 47px;
    overflow: hidden;
    margin-top: -13px;
    float: left;
    margin-right: 4px;
    background-size: cover;
  }

.fh5co-nav-toggle {
    /* margin-top: -15px; */
}

#fh5co-header .navbar-fixed-top div {
    /* margin-top: -10px; */
    color: black;
}

#fh5co-header.navbar-fixed-top .logo {
    background-position: top 0px left;
    margin-top: -8px;
    width: 30px;
    height: 35px;
  }

@media screen and (max-width: 768px)
{
    #fh5co-header .navbar-brand div {
        color: black;
        font-size: 20px;
    }
    
    #fh5co-header .navbar-brand div {
            background-position: top 0px left;
            color: black;
            margin-top: -8px;
            width: 30px;
            height: 35px;
            
        }
        #fh5co-header .navbar-brand a {
            color: black;
        }
        
        #fh5co-header .navbar-brand {
            color: black;
            font-size: 100%;
            font-family: Montserrat;
        }
        
        #fh5co-header .navbar-fixed-top > .fh5co-nav-toggle {
            margin-top: -15px;
        }

        #fh5co-header .logo {
            background-position: top 0px left;
            /* margin-top: -8px; */
            width: 30px;
            height: 35px;
        }
}


#fh5co-header .navbar-brand {
    font-family: Montserrat;
    /* color: black; */
}

#fh5co-header.navbar-fixed-top .navbar-brand {
    color: black;
    font-size: 100%;
    font-family: Montserrat;
  }

#fh5co-header.navbar-fixed-top .logo {
  background-position: top 0px left;
  /* margin-top: -8px; */
  width: 30px;
  height: 35px;
}